.oProjektu {
  margin-bottom: 50px;
}

.oProjektuContent {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.oProjektuContent>div {
  margin: 20px 0px;
}

.oProjektu p,
.apartmentDetails p,
.oProjektu li {
  color: #797978;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}

.oProjektu ul {
  padding-left: 20px;
}

.stanovi {
  margin-top: 40px;
}

.stanoviContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 30px;
  margin: 0px -10px 30px;
}

.card {
  margin: 0px 10px 20px;
  width: calc(25% - 20px);
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  transition: 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.sold {
  opacity: 0.4;
}

.cardImage {
  width: 100%;
  height: 220px;
  position: relative;
  overflow: hidden;
}

.cardImage img {
  object-fit: cover;
}

.cardContent {
  padding: 20px;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 1.7rem;
  margin-bottom: 0px;
}

.card p {
  font-size: 13px;
  color: #797978;
  line-height: 18px;
  margin-bottom: 0px;
}

.cardData {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cardDataItem {
  flex: 33.33%;
  background-color: var(--color-yellow);
  color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

.cardDataItem:last-child {
  border-right: none;
}

.cardDataValue {
  font-weight: 600;
  font-size: 1.5rem;
}

.uvuceniKat {
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 29px;
}

.video {
  width: 100%;
  height: auto;
  cursor: pointer;
  margin-bottom: 40px;
}

.cardDataText {
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

.btnVise {
  border-radius: 0px;
  border-top: 0px;
  color: var(--color-yellow);
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table {
  border-collapse: collapse;
  margin-bottom: 30px;
  font-weight: 400;
}

.table thead {
  background-color: var(--color-yellow);
  color: #fff;
}

.table th,
.table td {
  padding: 10px 15px;
  text-align: left;
}

.table tbody tr:nth-child(even):not(.suma) {
  background-color: var(--color-light);
}

.table .suma {
  background-color: var(--color-grey);
}

.table .suma td,
.table thead th {
  font-weight: 400;
}

.map {
  border: 0px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0px;
  align-items: start;
  position: relative;
}

.properties {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.property {
  display: grid;
  grid-template-columns: 60px auto;
  align-items: center;
  gap: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 6px;
}

.propertyLabel {
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 6px;
  font-weight: 400;
}

.propertyValue {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-yellow);
}

.iconWrapper {
  position: relative;
  width: 60px;
  height: 60px;
}

.kontakt .subtitle {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 100px;
}

h4.subtitle {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.formWrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.gridGroup {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
}

.detailsWrap {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  padding: 0px 20px;
}

.detailsWrap .table .sold th:nth-child(2),
.detailsWrap .table .sold td:nth-child(2) {
  color: rgb(205, 30, 30);
}

.detailsWrap .table {
  width: 300px;
}

@media screen and (max-width: 768px) {
  .grid {
    display: block;
  }

  .detailsWrap {
    display: block;
  }

  .card {
    width: 100%;
    margin: 0px 10px 20px;
  }

  .table {
    display: block;
    width: 100%;
    overflow-x: scroll;
  }

  .property {
    grid-template-columns: 40px auto;
  }

  .iconWrapper {
    width: 40px;
    height: 40px;
  }

  .oProjektuContent {
    display: block;
  }

  .gridGroup {
    display: block;
  }


  .table th,
  .table td {
    padding: 8px 10px;
    text-align: left;
    font-size: 0.8rem;
  }

  .detailsWrap .table {
    width: 100%;
    display: table;
  }

  .sold {
    opacity: 0.4;
  }

  .detailsWrap .table th:first-child,
  .detailsWrap .table td:first-child {
    width: 100px;
  }

  .detailsWrap .table th,
  .detailsWrap .table td {
    font-size: 1rem;
  }

  .card:hover {
    transform: none;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}