.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.subtitle {
  margin-top: 0px;
}

.dataGrid {
  display: grid;
  grid-template-columns: 80px auto;
  gap: 10px;
  align-items: center;
}

.label {
  font-weight: 600;
  color: var(--color-yellow);
}

@media screen and (max-width: 768px) {
  .container {
    display: block;
  }

  .dataGrid {
    margin-bottom: 40px;
  }
}