.header {
  z-index: 1001;
  position: relative;
}

.navTop {
  background-color: var(--color-black);
  color: #9B9B9B;
  text-align: right;
  font-size: 14px;
  padding: 12px 20px;
  font-weight: 400;
}

.header.sticky .navTop {
  margin-bottom: 93px;
}

.topItem {
  display: inline-block;
  margin-left: 20px;
}

.containerFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navItems li {
  list-style-type: none;
}

.navItem {
  display: inline-block;
  padding: 40px 20px;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.navItem:hover {
  color: var(--color-yellow);
}

.navigation {
  background-color: transparent;
}

.header.sticky .navigation {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #FEFFFB;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 10px 15px rgb(25 25 25 / 10%);
  border-radius: 0;
}

.header.sticky .navigation .navItem {
  color: var(--color-black);
}

.hamburger-container {
  display: none;
}

.hamburger {
  background-color: #fff;
  padding: 5px;
}

.hamburger span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: var(--color-yellow);
  margin: 6px 0;
}

.mobileNav {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
}

.mobileNav.active {
  opacity: 1;
  visibility: visible;
}

.mobileNav .navItems {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #FEFFFB;
  width: 80vw;
  transform: translateX(101%);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.mobileNav.active .navItems {
  transform: translateX(0%);
}

.hamburgerContainer {
  display: none;
}

.containerFlex.contentTop {
  padding: 30px 25px;
}

.closeButton {
  background: transparent;
  padding: 5px 0px;
  border: 0px;
  box-shadow: none;
  width: 30px;
  text-align: center;
}

.closeButton img {
  display: inline-block;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .navItems {
    display: none;
  }

  .mobileNav .navItems {
    display: block;
  }


  .navItem {
    display: block;
    color: var(--color-black);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 14px 25px;
  }

  .navItem:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .hamburgerContainer {
    display: block;
  }

  .navigation {
    background: #FEFFFB;
  }

  .logo img {
    width: 70px;
    height: auto;
    display: block;
  }

  .containerFlex {
    padding: 10px;
  }

  .navTop {
    padding: 12px 0px;
  }

  .navTop .navTopContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navTop .navTopContainer a {
    margin-left: 0px;
  }

  .header.sticky .navTop {
    margin-bottom: 60px;
  }

  .navigation {
    padding: 10px 0px;
  }
}