.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1003;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  max-width: 90vw;
  max-height: 90vh;
}

.gallery img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  margin: 0 auto;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  border: 0px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.8);
}